.main-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .actions {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 14px;
  }
}
