.modal-container {
  position: fixed;
  z-index: 2;
  left: 0;
  padding: 25px 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  height: calc(100vh - 50px);
  background-color: var(--color-gray-medium);
  border-radius: 25px;
  margin-right: 25px;
  margin-left: auto;
  padding: 25px;
  width: 450px;
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  gap: 30px;
  justify-content: space-between;
}
