.switch {
  position: relative;
  width: 80px;

  & > input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &:hover {
    .slider {
      background-color: var(--color-gray);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  inset: 0;
  background-color: var(--color-gray-medium);
  transition: var(--transition-time);

  svg {
    width: 16px;
    height: 16px;
  }

  svg:first-of-type {
    position: relative;
    left: 12px;
  }

  svg:last-of-type {
    position: relative;
    right: 12px;
  }

  &::before {
    position: absolute;
    content: "";
    height: 38px;
    width: 38px;
    background-color: var(--color-white);
    transition: var(--transition-time);
  }
}

input:checked + .slider {
  svg:first-of-type > path {
    fill: var(--color-white);
    transition: var(--transition-time);
  }

  svg:last-of-type > path {
    fill: var(--color-black);
    transition: var(--transition-time);
  }
}

input:not(:checked) + .slider {
  svg:first-of-type > path {
    fill: var(--color-black);
    transition: var(--transition-time);
  }

  svg:last-of-type > path {
    fill: var(--color-white);
    transition: var(--transition-time);
  }
}

input:checked + .slider:before {
  transform: translateX(38px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  left: 2px;
  border-radius: 50%;
}
